nav {
  color: #fff;
}

input#title, textarea#body {
  width: 100%;
  border: 1px solid #ccc!important;
  padding: 5px 10px;
  box-sizing: border-box;
}
.edit {
  color: #5bc0de;
}
.delete {
  color: salmon;
}

.alert {
  color: white;
  opacity: .7!important;
}